In [1]:
from pyspark.sql import SparkSession

In [36]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType,FloatType,BooleanType,DateType,ArrayType,DoubleType

In [11]:
spark=SparkSession.builder.appName('Task1').getOrCreate()

In [95]:
from pyspark.sql.functions import regexp_replace, col

In [67]:
schema = StructType([
    StructField("_id", StringType(), nullable=False),
    StructField("index", IntegerType(), nullable=False),
    StructField("guid", StringType(), nullable=False),
    StructField("isActive", BooleanType(), nullable=False),
    StructField("balance", StringType(), nullable=False),
    StructField("picture", StringType(), nullable=False),
    StructField("age", IntegerType(), nullable=False),
    StructField("eyeColor", StringType(), nullable=False),
    StructField("name", StringType(), nullable=False),
    StructField("gender", StringType(), nullable=False),
    StructField("company", StringType(), nullable=False),
    StructField("email", StringType(), nullable=False),
    StructField("phone", StringType(), nullable=False),
    StructField("address", StringType(), nullable=False),
    StructField("about", StringType(), nullable=False),
    StructField("registered", StringType(), nullable=False),
    StructField("latitude", FloatType(), nullable=False),
    StructField("longitude", FloatType(), nullable=False),
    StructField("tags", ArrayType(StringType()), nullable=False),
    StructField("friends", ArrayType(StructType([
        StructField("_id", IntegerType(), nullable=False),
        StructField("name", StringType(), nullable=False)
    ])), nullable=False),
    StructField("greeting", StringType(), nullable=False),
    StructField("favoriteFruit", StringType(), nullable=False)
])

In [143]:
data = spark.read.json('data_task1.json', schema,multiLine=True)
print(data.schema)

StructType([StructField('_id', StringType(), True), StructField('index', IntegerType(), True), StructField('guid', StringType(), True), StructField('isActive', BooleanType(), True), StructField('balance', StringType(), True), StructField('picture', StringType(), True), StructField('age', IntegerType(), True), StructField('eyeColor', StringType(), True), StructField('name', StringType(), True), StructField('gender', StringType(), True), StructField('company', StringType(), True), StructField('email', StringType(), True), StructField('phone', StringType(), True), StructField('address', StringType(), True), StructField('about', StringType(), True), StructField('registered', StringType(), True), StructField('latitude', FloatType(), True), StructField('longitude', FloatType(), True), StructField('tags', ArrayType(StringType(), True), True), StructField('friends', ArrayType(StructType([StructField('_id', IntegerType(), True), StructField('name', StringType(), True)]), True), True), StructField('greeting', StringType(), True), StructField('favoriteFruit', StringType(), True)])

In [135]:
#Parse the balance field and create a new column that holds the numeric value of the field
balance_data=data.withColumn('intBalance',regexp_replace(col('balance'),"[$,]", ""))

In [136]:
balance_data=balance_data.withColumn('intBalance',balance_data['intBalance'].cast('integer'))

In [137]:
print(balance_data.schema['intBalance'].dataType)

IntegerType()

In [130]:
balance_data.select('intBalance','balance').show(10)

+----------+---------+
|intBalance|  balance|
+----------+---------+
|      1232|$1,232.31|
|      2920|$2,920.66|
|      1819|$1,819.72|
|      1571|$1,571.09|
|      1178|$1,178.43|
|      1952|$1,952.92|
|      3020|$3,020.16|
|      2574|$2,574.66|
|      3864|$3,864.22|
|      3008|$3,008.74|
+----------+---------+
only showing top 10 rows

In [134]:
#Create a new dataframe that holds the sum of balance field by gender
balanceByGender=balance_data.select('gender','intBalance')
sumByGender=balanceByGender.groupBy('gender').sum('intBalance').show()

+------+---------------+
|gender|sum(intBalance)|
+------+---------------+
|female|         113957|
|  male|         124773|
+------+---------------+