In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType,FloatType,BooleanType,DateType,ArrayType,DoubleType

In [3]:
from pyspark.sql.functions import regexp_replace, col

# Creating SparkSession

In [4]:
spark=SparkSession.builder.appName('Task1').getOrCreate()

23/06/19 01:24:43 WARN Utils: Your hostname, MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.15 instead (on interface en0)
23/06/19 01:24:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/19 01:24:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
schema = StructType([
    StructField("_id", StringType(), nullable=False),
    StructField("index", IntegerType(), nullable=False),
    StructField("guid", StringType(), nullable=False),
    StructField("isActive", BooleanType(), nullable=False),
    StructField("balance", StringType(), nullable=False),
    StructField("picture", StringType(), nullable=False),
    StructField("age", IntegerType(), nullable=False),
    StructField("eyeColor", StringType(), nullable=False),
    StructField("name", StringType(), nullable=False),
    StructField("gender", StringType(), nullable=False),
    StructField("company", StringType(), nullable=False),
    StructField("email", StringType(), nullable=False),
    StructField("phone", StringType(), nullable=False),
    StructField("address", StringType(), nullable=False),
    StructField("about", StringType(), nullable=False),
    StructField("registered", StringType(), nullable=False),
    StructField("latitude", FloatType(), nullable=False),
    StructField("longitude", FloatType(), nullable=False),
    StructField("tags", ArrayType(StringType()), nullable=False),
    StructField("friends", ArrayType(StructType([
        StructField("_id", IntegerType(), nullable=False),
        StructField("name", StringType(), nullable=False)
    ])), nullable=False),
    StructField("greeting", StringType(), nullable=False),
    StructField("favoriteFruit", StringType(), nullable=False)
])

In [6]:
data = spark.read.json('data_task1.json', schema,multiLine=True)
data.printSchema()

root
 |-- _id: string (nullable = true)
 |-- index: integer (nullable = true)
 |-- guid: string (nullable = true)
 |-- isActive: boolean (nullable = true)
 |-- balance: string (nullable = true)
 |-- picture: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- eyeColor: string (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- company: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- address: string (nullable = true)
 |-- about: string (nullable = true)
 |-- registered: string (nullable = true)
 |-- latitude: float (nullable = true)
 |-- longitude: float (nullable = true)
 |-- tags: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- friends: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- _id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- greeting: string (nullable = true)
 |-- favoriteFruit: string (nullable = true)

# Task 1

In [7]:
#Parse the balance field and create a new column that holds the numeric value of the field
balance_data=data.withColumn('intBalance',regexp_replace(col('balance'),"[$,]", ""))

In [14]:
balance_data=balance_data.withColumn('intBalance',balance_data['intBalance'].cast('double'))

In [15]:
print(balance_data.schema['intBalance'].dataType)

DoubleType()

In [16]:
balance_data.select('intBalance','balance').show(10)

+----------+---------+
|intBalance|  balance|
+----------+---------+
|    1232.0|$1,232.31|
|    2920.0|$2,920.66|
|    1819.0|$1,819.72|
|    1571.0|$1,571.09|
|    1178.0|$1,178.43|
|    1952.0|$1,952.92|
|    3020.0|$3,020.16|
|    2574.0|$2,574.66|
|    3864.0|$3,864.22|
|    3008.0|$3,008.74|
+----------+---------+
only showing top 10 rows

In [17]:
1,232.31 == 1232.0

(1, False)

# Task 2

In [134]:
#Create a new dataframe that holds the sum of balance field by gender
balanceByGender=balance_data.select('gender','intBalance')
sumByGender=balanceByGender.groupBy('gender').sum('intBalance').show()

+------+---------------+
|gender|sum(intBalance)|
+------+---------------+
|female|         113957|
|  male|         124773|
+------+---------------+