In [3]:
from pyspark.sql import SparkSession

In [4]:
from pyspark.sql.types import StructField,StructType,IntegerType,StringType,BooleanType,FloatType,DateType,ArrayType

In [5]:
spark=SparkSession.builder.appName('JsonReader').getOrCreate()

23/06/07 23:52:31 WARN Utils: Your hostname, MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.15 instead (on interface en0)
23/06/07 23:52:31 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/07 23:52:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [10]:
my_schema=StructType([
    StructField('id',IntegerType(),True),
    StructField('first_name',StringType(),True),
    StructField('last_name',StringType(),True),
    StructField('fav_movies',ArrayType(StringType()),True),
    StructField('salary',FloatType(),True),
    StructField('image_url',StringType(),True),
    StructField('date_of_birth',DateType(),True),
    StructField('active',BooleanType(),True),
    
])

In [11]:
my_data=spark.read.json('persons.json',my_schema,multiLine=True)

In [12]:
my_data.show(10)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [13]:
my_data.select('first_name','salary').show(10)

+----------+-------+
|first_name| salary|
+----------+-------+
|     Drucy|1463.36|
|   Emelyne|3006.04|
|       Max|1422.88|
|    Ilario|3561.36|
|     Toddy|4934.87|
|    Oswald|1153.23|
|    Adrian|1044.73|
|  Dominica|1147.76|
|     Emory|1082.11|
|  Jeremias|3472.63|
+----------+-------+
only showing top 10 rows

In [14]:
my_data.show(10,True)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|    Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
|  4|    Ilario|     Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|   Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  6|    Oswald| Petrolli|[Wing and the Thi...|1153.23|http://dummyimage...|   1986-09-02| false|
|  7|    Adrian|   Clarey|[Walking Tall, Pa...|1044.73|http://dummyimage...|   1971-08-24| false|
|  8|  Dominica|  Goodnow|    [Hearts Divided]|1147.76|http://dummyimage...|   1973-08-27| false|
|  9|     Emory|  Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|     Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 10 rows

In [15]:
from pyspark.sql.functions import col,expr,concat_ws

In [19]:
my_data.filter('active == true').show(100)

+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
| id|first_name|  last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+
|  1|     Drucy|      Poppy|  [I giorni contati]|1463.36|http://dummyimage...|   1991-02-16|  true|
|  4|    Ilario|       Kean|[Up Close and Per...|3561.36|http://dummyimage...|   1987-06-09|  true|
|  5|     Toddy|     Drexel|[Walk in the Clou...|4934.87|http://dummyimage...|   1992-10-28|  true|
|  9|     Emory|    Slocomb|[Snake and Crane ...|1082.11|http://dummyimage...|   1974-06-08|  true|
| 10|  Jeremias|       Bode|[Farewell to Arms...|3472.63|http://dummyimage...|   1997-08-02|  true|
| 14|   Ambrosi|   Vidineev|[Wall Street: Mon...|4550.88|http://dummyimage...|   1989-07-20|  true|
| 16|   Margaux|   Archbold|[And Now a Word f...|1013.75|http://dummyimage...|   1988-07-29|  true|
| 18|     Alfie|   Hatliffe|     [Lord of Tears]| 3893.1|http://dummyimage...|   1989-06-21|  true|
| 21|      Dian|      Dancy|[Double, Double, ...| 3720.3|http://dummyimage...|   1998-12-01|  true|
| 25|     Kelcy|     Wogdon|    [Iron Mask, The]|4512.51|http://dummyimage...|   2000-10-20|  true|
| 26|     Clive|        Lax|             [Rabid]|2126.87|http://dummyimage...|   1981-10-26|  true|
| 27|    Kelila|Harrowsmith|   [Apparition, The]|4651.58|http://dummyimage...|   1973-01-02|  true|
| 29|       Eli|  Normabell|[Return to Peyton...|4917.48|http://dummyimage...|   1993-01-02|  true|
| 33|  Sherline|    Primett|   [Jungle Fighters]|2309.39|http://dummyimage...|   1972-07-23|  true|
| 34|     Davis|      Pinks|          [Hounddog]|1337.14|http://dummyimage...|   1989-07-27|  true|
| 35|     Fanni|      Dyson|     [Wild One, The]|3228.58|http://dummyimage...|   1995-01-09|  true|
| 37|    Carlen|    Sharply|[Dr. Jekyll and M...|2051.85|http://dummyimage...|   2002-06-01|  true|
| 39|   Melinda|   McKevitt|[Safrana or Freed...|4166.13|http://dummyimage...|   1979-12-15|  true|
| 40|    Jordan|     Lorant|[Shockproof, Bach...|2183.91|http://dummyimage...|   1979-07-29|  true|
| 42| Cristiano|       Shaw|[Can-Can, Feeding...|3180.08|http://dummyimage...|   1997-04-07|  true|
| 43|   Guthrie|     Veeler|[Mr. Brooks, Seco...|4806.88|http://dummyimage...|   1978-07-31|  true|
| 44|  Wolfgang|      Inger|     [No Such Thing]|3192.85|http://dummyimage...|   1973-11-16|  true|
| 47|     Ardis|     Wotton|[Little Colonel, ...|3827.61|http://dummyimage...|   1979-06-13|  true|
| 49| Kendricks|        Kee|   [Flower & Garnet]|2304.39|http://dummyimage...|   1999-11-14|  true|
| 51|        El|   Dohrmann|[El Hada Buena - ...|4810.48|http://dummyimage...|   1984-04-24|  true|
| 57|   Krystle|    Shovell|[Doomsday, Flight...|2260.76|http://dummyimage...|   1987-09-01|  true|
| 58|     Nahum|  Wildgoose|[Thomas in Love (...| 4009.3|http://dummyimage...|   1986-12-17|  true|
| 60|       Bev|     Symcox|[Alvin and the Ch...|2586.38|http://dummyimage...|   1976-11-09|  true|
| 63|     Toddy| Matevosian| [Snake Eyes, Jauja]|4394.08|http://dummyimage...|   1972-03-17|  true|
| 64|   Loralyn|      Nimmo|[Queen to Play (J...|3005.12|http://dummyimage...|   1980-01-03|  true|
| 65|   Hillyer|   MacArdle|[Slim Susie (Smal...|3826.59|http://dummyimage...|   1985-07-19|  true|
| 66|      Rudy|    Ritelli|[Pope's Toilet, T...|4268.39|http://dummyimage...|   1998-09-01|  true|
| 67|   Feodora| Giacomazzo|[Death Watch (La ...| 2122.2|http://dummyimage...|   1971-12-19|  true|
| 68|      Ilsa|     Hedman|[Night of the Dem...|3219.26|http://dummyimage...|   1986-01-29|  true|
| 69|  Annabell|    Doughty|[Entertaining Ang...|2022.57|http://dummyimage...|   2000-09-03|  true|
| 71|    Cecily|    Salomon|[Mrs. Henderson P...|4062.93|http://dummyimage...|   1999-07-18|  true|
| 75|    Norean|       Baum|[Fright Night, Bl...|2924.43|http://dummyimage...|   1974-03-27|  true|
| 76|     Trace|      Balke|[Dark Truth, A (T...|4812.73|http://dummyimage...|   1982-01-03|  true|
| 78|     Nyssa|   Rajchert|[Little Accidents...|2697.06|http://dummyimage...|   1987-08-28|  true|
| 79|     Deina|    Pennick|[Invisible Invade...|1048.92|http://dummyimage...|   1999-11-28|  true|
| 82|    Lucita| Sowerbutts|[Redemption: For ...|3052.35|http://dummyimage...|   1972-09-18|  true|
| 86|    Welbie|    Crackel|[All That Heaven ...|2720.28|http://dummyimage...|   1990-10-24|  true|
| 89|      Tish|     Machon|  [Arrowhead, Simon]|4830.06|http://dummyimage...|   1995-06-08|  true|
| 92|     Daron|    Briance|[Train on the Bra...|4226.35|http://dummyimage...|   2002-02-22|  true|
| 93|    Janean|       Pelz|              [Once]|4906.92|http://dummyimage...|   1975-09-23|  true|
| 98|     Davin|       Labb|[Viva Riva!, Kill...|1452.74|http://dummyimage...|   1988-01-27|  true|
|100|    Virgie|   Domanski|[Horseman, The, S...|2165.93|http://dummyimage...|   2002-01-05|  true|
+---+----------+-----------+--------------------+-------+--------------------+-------------+------+

In [27]:
my_data.where('active == false').show(2)

+---+----------+---------+--------------------+-------+--------------------+-------------+------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|active|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
|  2|   Emelyne|    Blaza|[Musketeer, The, ...|3006.04|http://dummyimage...|   1991-11-02| false|
|  3|       Max|   Rettie|[The Forgotten Sp...|1422.88|http://dummyimage...|   1990-03-03| false|
+---+----------+---------+--------------------+-------+--------------------+-------------+------+
only showing top 2 rows

# Rows and Unions

In [26]:
from pyspark.sql import Row

In [40]:
new_person=Row('101','Husanboy','Usmonov',["Stranger Things","Morbius","Silicon Valley"],'4500.59','https://someimage.com','2002-08-06',True)

In [41]:
new_persons_list=[
    Row('102','John','Usmonov',["Stranger Things","Silicon Valley"],'4500.59','https://someimage.com','2002-08-06',True),
    Row('103','Dawid','Klimza',["Stranger Things Season 3","Silicon Valley"],'4500.59','https://someimage.com','2002-08-06',True)
    
]

In [42]:
new_persons_list[1]

In [43]:
myNewPeople=spark.createDataFrame(new_persons_list,['id','first_name','last_name','fav_movies','salary','image_url','date_of_birth','True'])

In [57]:
myNewPeople.show()

+---+----------+---------+--------------------+-------+--------------------+-------------+----+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|True|
+---+----------+---------+--------------------+-------+--------------------+-------------+----+
|102|      John|  Usmonov|[Stranger Things,...|4500.59|https://someimage...|   2002-08-06|true|
|103|     Dawid|   Klimza|[Stranger Things ...|4500.59|https://someimage...|   2002-08-06|true|
+---+----------+---------+--------------------+-------+--------------------+-------------+----+

In [61]:
my_data.union(myNewPeople)

DataFrame[id: string, first_name: string, last_name: string, fav_movies: array<string>, salary: string, image_url: string, date_of_birth: string, active: boolean]

In [62]:
from pyspark.sql.functions import desc

In [63]:
my_data.where('id == 101').show()

+---+----------+---------+----------+------+---------+-------------+------+
| id|first_name|last_name|fav_movies|salary|image_url|date_of_birth|active|
+---+----------+---------+----------+------+---------+-------------+------+
+---+----------+---------+----------+------+---------+-------------+------+


# Changing adding table

In [65]:
 from pyspark.sql.functions import round

In [67]:
total=myNewPeople.withColumn('salary_increase', expr('salary + 100'))

In [68]:
total.show()

+---+----------+---------+--------------------+-------+--------------------+-------------+----+---------------+
| id|first_name|last_name|          fav_movies| salary|           image_url|date_of_birth|True|salary_increase|
+---+----------+---------+--------------------+-------+--------------------+-------------+----+---------------+
|102|      John|  Usmonov|[Stranger Things,...|4500.59|https://someimage...|   2002-08-06|true|        4600.59|
|103|     Dawid|   Klimza|[Stranger Things ...|4500.59|https://someimage...|   2002-08-06|true|        4600.59|
+---+----------+---------+--------------------+-------+--------------------+-------------+----+---------------+